<!doctype html>
<html lang="zh-cn">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0">
<title>昱杰后台UI框架-提示页</title>
<script type="text/javascript" src="../../static/library/jquery/jquery.js"></script>
<script src="../../static/yj.admin.ui/js/tip.js"></script>
<link rel="stylesheet" type="text/css" href="../../static/yj.admin.ui/iconfont/iconfont.css">
<link rel="stylesheet" type="text/css" href="../../static/yj.admin.ui/iconfont/iconfont_extra.css">
<link rel="stylesheet" type="text/css" href="../../static/yj.admin.ui/css/tip.css">
<script type="text/javascript">
let CONFIG = {
  TYPE: 'failed',
  TIP_CONTENT: '暂未开放注册，即将跳转到登录页！',
  LOCATION_URL: '../login/index.html',
  LOCATION_CONTENT: '如果您的浏览器没有自动跳转，请点击这里',
  SECOND: 5
};
</script>
</head>

<body>
<div class="tip">
  <p class="iconfont color"></p>
  <p class="tip_content"></p>
  <p class="location"><a></a></p>
</div>
</body>
</html>