<!doctype html>
<html lang="zh-cn">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0">
<title>昱杰后台UI框架-后台登录</title>
<script type="text/javascript" src="../../static/library/jquery/jquery.js"></script>
<script type="text/javascript" src="../../static/library/valid_form.js"></script>
<script type="text/javascript" src="../../static/admin/js/login.js"></script>
<link rel="stylesheet" type="text/css" href="../../static/yj.admin.ui/iconfont/iconfont.css">
<link rel="stylesheet" type="text/css" href="../../static/yj.admin.ui/iconfont/iconfont_extra.css">
<link rel="stylesheet" type="text/css" href="../../static/yj.admin.ui/css/basic.css">
<link rel="stylesheet" type="text/css" href="../../static/admin/css/login.css">
</head>

<body>
<form method="post" action="../../server/Login.html" class="login">
  <h1><span class="iconfont icon-logo"></span>昱杰后台UI框架</h1>

  <dl>
    <dt>帐号密码登录</dt>
    <dd><input type="text" name="name" class="text"></dd>
    <dd><input type="password" name="pass" class="text"></dd>
    <dd class="tip red"></dd>
    <dd style="text-align:right;"><a href="../reset/index.html">重置密码</a></dd>
    <dd class="submit"><input type="submit" value="登录"></dd>
    <dd class="third"><a href="javascript:"><span class="iconfont icon-wechat color"></span></a><a href="javascript:"><span class="iconfont icon-qq color"></span></a></dd>
  </dl>

  <footer class="copyright"><a href="https://www.yjrj.top/" target="_blank">昱杰软件</a> © 版权所有</footer>
</form>

<!-- 统计代码，可自行删除 -->
<script type="text/javascript" src="https://hm.baidu.com/hm.js?20251d48ece63163142ffc452f2d4804"></script>
</body>
</html>