<!doctype html>
<html lang="zh-cn">
<head>
<meta charset="utf-8">
<meta name="viewport" content="initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
<title>昱杰后台UI框架</title>
<script type="text/javascript" src="../../static/library/jquery/jquery.js"></script>
<script type="text/javascript" src="../../static/library/lay_ui/js/lay_ui.js"></script>
<script type="text/javascript" src="../../static/yj.admin.ui/library/common.js"></script>
<script type="text/javascript" src="../../static/yj.admin.ui/library/base.js"></script>
<script type="text/javascript" src="../../static/admin/js/search.js"></script>
<link rel="stylesheet" type="text/css" href="../../static/library/lay_ui/css/lay_ui.css">
<link rel="stylesheet" type="text/css" href="../../static/library/lay_ui/css/date.css">
<link rel="stylesheet" type="text/css" href="../../static/yj.admin.ui/iconfont/iconfont.css">
<link rel="stylesheet" type="text/css" href="../../static/yj.admin.ui/iconfont/iconfont.extra.css">
<link rel="stylesheet" type="text/css" href="../../static/yj.admin.ui/css/basic.css">
<script type="text/javascript">
let CONFIG = {
  FOLD_MAIN_WIDTH: 'calc(100% - 258px)',
  EXPAND_MAIN_WIDTH: 'calc(100% - 458px)'
};
</script>
</head>

<body class="big">
<div class="left">
  <div class="logo"><a href="../index/index.html"><span class="iconfont icon-logo"></span></a></div>

  <ul class="navigator">
    <li><a href="../index/index.html"><span class="iconfont icon-index"></span> 首页</a></li>
    <li><a href="../form/index.html"><span class="iconfont icon-form"></span> 表单</a></li>
    <li><a href="../table/index.html"><span class="iconfont icon-table"></span> 表格</a></li>
    <li class="active">
      <a href="javascript:"><span class="iconfont icon-search"></span> 搜索</a>
      <div class="child">
        <ul>
          <li><a href="../search/index.html">简单搜索</a></li>
          <li class="active"><a href="../search/advance.html">高级搜索</a></li>
        </ul>
      </div>
    </li>
    <li><a href="../tab/index.html"><span class="iconfont icon-tab"></span> Tab</a></li>
    <li><a href="../tip/index.html"><span class="iconfont icon-tip-info"></span> 提示</a></li>
    <li><a href="../layer/index.html"><span class="iconfont icon-layer"></span> 弹窗</a></li>
    <li>
      <a href="javascript:"><span class="iconfont icon-case"></span> 案例</a>
      <div class="child">
        <ul>
          <li><a href="../user/index.html">用户管理</a></li>
          <li><a href="../product/index.html">商品管理</a></li>
        </ul>
      </div>
    </li>
    <li>
      <a href="javascript:"><span class="iconfont icon-profile"></span> </a>
      <div class="child">
        <ul>
          <li><a href="../profile/index.html">个人资料</a></li>
          <li><a href="../profile/loginRecord.html">登录记录</a></li>
        </ul>
      </div>
    </li>
  </ul>
</div>

<div class="top">
  <h1>搜索</h1>

  <div class="user">风形火影（创始人） [<a href="../profile/index.html">个人资料</a>] [<a href="../profile/loginRecord.html">登录记录</a>] [<a href="https://item.taobao.com/item.htm?id=531038056831" target="_blank">赞助作者</a>] [<a href="../login/index.html">退出</a>]</div>
</div>

<div class="main">
  <div class="tool advance">
    <div class="row1">
      <h2>高级搜索</h2>

      <p class="clear"></p>
    </div>

    <form method="get" action="" class="search layui-form">
      <span>搜索框：<div class="search-text"><input type="text" name="keyword" class="text"><span class="iconfont icon-search"></span></div></span>
      <span>下拉框：<select name="select_id" lay-filter="select_id" lay-search><option value="0">不限</option><option value="1">恭喜发财</option><option value="2">大吉大利</option></select></span>
      <span>时间：<input name="date1" class="text date"> ～ <input name="date2" class="text date"></span>
      <p class="clear"></p>
    </form>
  </div>
</div>

<div class="right">
  <h3>温馨提示 <span class="iconfont icon-fold"></span></h3>

  <ul>
    <li>Todo：因为模板是静态html页面，所以没有做搜索后的回显，请开发者在自己项目中完成。</li>
  </ul>

  <span class="iconfont icon-expand color"></span>
</div>

<div class="tip"><div><span class="iconfont color"></span> <span class="content"></span></div></div>

<!-- 统计代码，可自行删除 -->
<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "https://hm.baidu.com/hm.js?20251d48ece63163142ffc452f2d4804";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>
</body>
</html>