<!doctype html>
<html lang="zh-cn">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0">
<title>昱杰后台UI框架-系统安装-第2步</title>
<link rel="stylesheet" type="text/css" href="../../static/yj.admin.ui/iconfont/iconfont.css">
<link rel="stylesheet" type="text/css" href="../../static/yj.admin.ui/iconfont/iconfont_extra.css">
<link rel="stylesheet" type="text/css" href="../../static/yj.admin.ui/css/basic.css">
<link rel="stylesheet" type="text/css" href="../../static/yj.admin.ui/css/single_page.css">
<style>
.form table tr td:nth-child(1){
    width:98px;
}
</style>
</head>

<body>
<h1><span class="iconfont icon-logo"></span>昱杰后台UI框架-系统安装-第2步</h1>

<form method="get" action="step3.html" class="form">
  <table>
    <tr><td colspan="2" class="title">数据库信息</td></tr>
    <tr><td>数据库服务器：</td><td><input type="text" name="hostname" value="127.0.0.1" class="text"></td></tr>
    <tr><td>服务器端口：</td><td><input type="text" name="hostport" value="3306" class="text"></td></tr>
    <tr><td>数据库名：</td><td><input type="text" name="database" class="text"></td></tr>
    <tr><td>数据库用户名：</td><td><input type="text" name="username" value="root" class="text"></td></tr>
    <tr><td>数据库密码：</td><td><input type="text" name="password" class="text"></td></tr>
    <tr><td>数据表前缀：</td><td><input type="text" name="prefix" class="text"></td></tr>
    <tr><td colspan="2" class="button-td"><input type="submit" value="下一步" class="button"></td></tr>
  </table>
</form>

<footer class="copyright"><a href="https://www.yjrj.top/" target="_blank">昱杰软件</a> © 版权所有</footer>

<!-- 统计代码，可自行删除 -->
<script type="text/javascript" src="https://hm.baidu.com/hm.js?20251d48ece63163142ffc452f2d4804" async></script>
</body>
</html>