<form method="post" action="" class="form layui-form add" onsubmit="return false;">
  <table>
    <tr><td>用 户 名：</td><td><input type="text" name="name" class="text"></td></tr>
    <tr><td>用户等级：</td><td><div class="radio-box"><label><input type="radio" name="user_level_id" value="0" checked>未激活</label></div><div class="radio-box"><label><input type="radio" name="user_level_id" value="1" >VIP用户</label></div><div class="radio-box"><label><input type="radio" name="user_level_id" value="2" >业务员</label></div><div class="radio-box"><label><input type="radio" name="user_level_id" value="3" >银牌代理</label></div><div class="radio-box"><label><input type="radio" name="user_level_id" value="4" >金牌代理</label></div><div class="radio-box"><label><input type="radio" name="user_level_id" value="5" >钻石代理</label></div><div class="radio-box"><label><input type="radio" name="user_level_id" value="6" >直接用户</label></div></td></tr>
    <tr><td>密　　码：</td><td><input type="text" name="pass" class="text"></td></tr>
    <tr><td>电子邮箱：</td><td><input type="text" name="email" class="text"></td></tr>
  </table>
</form>