<!doctype html>
<html lang="zh-cn">
<head>
<meta charset="utf-8">
<meta name="viewport" content="initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
<title>昱杰后台UI框架</title>
<script type="text/javascript" src="../../static/library/jquery/jquery.js"></script>
<script type="text/javascript" src="../../static/library/lay_ui/js/lay_ui.js"></script>
<script type="text/javascript" src="../../static/library/i_check/i_check.js"></script>
<script type="text/javascript" src="../../static/library/layer/layer.js"></script>
<script type="text/javascript" src="../../static/yj.admin.ui/library/jquery/page.js"></script>
<script type="text/javascript" src="../../static/yj.admin.ui/library/common.js"></script>
<script type="text/javascript" src="../../static/yj.admin.ui/library/base.js"></script>
<script type="text/javascript" src="../../static/admin/js/user.js"></script>
<link rel="stylesheet" type="text/css" href="../../static/library/lay_ui/css/lay_ui.css">
<link rel="stylesheet" type="text/css" href="../../static/library/i_check/i_check.css">
<link rel="stylesheet" type="text/css" href="../../static/library/layer/layer.css">
<link rel="stylesheet" type="text/css" href="../../static/library/lay_ui/css/date.css">
<link rel="stylesheet" type="text/css" href="../../static/yj.admin.ui/iconfont/iconfont.css">
<link rel="stylesheet" type="text/css" href="../../static/yj.admin.ui/iconfont/iconfont.extra.css">
<link rel="stylesheet" type="text/css" href="../../static/yj.admin.ui/css/basic.css">
<script type="text/javascript">
let CONFIG = {
  FOLD_MAIN_WIDTH: 'calc(100% - 258px)',
  EXPAND_MAIN_WIDTH: 'calc(100% - 458px)',
  LIST: '../../server/User.json',
  ADD: 'add.html',
  ADD_DO: '../../server/UserAdd.json',
  UPDATE: 'update.html',
  UPDATE_DO: '../../server/UserUpdate.json',
  DELETE: '../../server/UserDelete.json',
  UNBIND_WECHAT: '../../server/UserUnbindWechat.json',
  UNBIND_QQ: '../../server/UserUnbindQq.json',
  PAGE_SIZE: 20,
  TOTAL: 2
};
</script>
</head>

<body class="big">
<div class="left">
  <div class="logo"><a href="../index/index.html"><span class="iconfont icon-logo"></span></a></div>

  <ul class="navigator">
    <li><a href="../index/index.html"><span class="iconfont icon-index"></span> 首页</a></li>
    <li><a href="../form/index.html"><span class="iconfont icon-form"></span> 表单</a></li>
    <li><a href="../table/index.html"><span class="iconfont icon-table"></span> 表格</a></li>
    <li>
      <a href="javascript:"><span class="iconfont icon-search"></span> 搜索</a>
      <div class="child">
        <ul>
          <li><a href="../search/index.html">简单搜索</a></li>
          <li><a href="../search/advance.html">高级搜索</a></li>
        </ul>
      </div>
    </li>
    <li><a href="../tab/index.html"><span class="iconfont icon-tab"></span> Tab</a></li>
    <li><a href="../tip/index.html"><span class="iconfont icon-tip-info"></span> 提示</a></li>
    <li><a href="../layer/index.html"><span class="iconfont icon-layer"></span> 弹窗</a></li>
    <li class="active">
      <a href="javascript:"><span class="iconfont icon-case"></span> 案例</a>
      <div class="child">
        <ul>
          <li class="active"><a href="../user/index.html">用户管理</a></li>
          <li><a href="../product/index.html">商品管理</a></li>
        </ul>
      </div>
    </li>
    <li>
      <a href="javascript:"><span class="iconfont icon-profile"></span> </a>
      <div class="child">
        <ul>
          <li><a href="../profile/index.html">个人资料</a></li>
          <li><a href="../profile/loginRecord.html">登录记录</a></li>
        </ul>
      </div>
    </li>
  </ul>
</div>

<div class="top">
  <h1>案例</h1>

  <div class="user">风形火影（创始人） [<a href="../profile/index.html">个人资料</a>] [<a href="../profile/loginRecord.html">登录记录</a>] [<a href="https://item.taobao.com/item.htm?id=531038056831" target="_blank">赞助作者</a>] [<a href="../login/index.html">退出</a>]</div>
</div>

<div class="main">
  <div class="tool advance">
    <div class="row1">
      <h2>用户管理</h2>

      <input type="hidden" name="ids">

      <div class="button">
        <input type="button" value="添加用户" class="button add"><input type="button" value="批量删除" class="button disabled must_select delete" disabled>
      </div>

      <p class="clear"></p>
    </div>

    <form method="get" action="" class="search layui-form" onsubmit="return false;">
      <span>关键词：<div class="search-text"><input type="text" name="keyword" value="" class="text"><span class="iconfont icon-search"></span></div></span>
      <span>用户等级：<select name="user_level_id" lay-filter="user_level_id" lay-search><option value="0">不限</option><option value="1">VIP用户</option><option value="2">业务员</option><option value="3">银牌代理</option><option value="4">金牌代理</option><option value="5">钻石代理</option><option value="6">直接用户</option></select></span>
      <span>微信绑定：<select name="wechat" lay-filter="wechat" lay-search><option value="-1">不限</option><option value="0"  style="color:green;">否</option><option value="1"  style="color:red;">是</option></select></span>
      <span>QQ绑定：<select name="qq" lay-filter="qq" lay-search><option value="-1">不限</option><option value="0"  style="color:green;">否</option><option value="1"  style="color:red;">是</option></select></span>
      <span>注册时间：<input type="text" name="date1" value="" class="text date"> ～ <input type="text" name="date2" value="" class="text date"></span>
    </form>
  </div>

  <div class="list">
    <table class="left-fix right-fix">
      <thead><tr class="row1"><th style="width:60px;"><div class="check-box"><label><input type="checkbox" class="all">全选</label></div></th><th style="width:170px;">用户名</th><th style="width:170px;">电子邮箱</th><th style="width:80px;">用户等级</th><th style="width:80px;">微信绑定</th><th style="width:80px;">QQ绑定</th><th style="width:80px;">注册时间</th><th style="width:80px;">操作</th></tr></thead>
      <tbody class="items"></tbody>
    </table>

    <div class="pagination"><ul></ul></div>
  </div>
</div>

<div class="right">
  <h3>温馨提示 <span class="iconfont icon-fold"></span></h3>

  <ul>
    <li>Todo：所有数据均为静态内容，实际后端交互、内容回显，请开发者在自己项目中完成。</li>
  </ul>

  <span class="iconfont icon-expand color"></span>
</div>

<div class="tip"><div><span class="iconfont color"></span> <span class="content"></span></div></div>

<!-- 统计代码，可自行删除 -->
<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "https://hm.baidu.com/hm.js?20251d48ece63163142ffc452f2d4804";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>
</body>
</html>