<form method="post" action="" class="form layui-form" onsubmit="return false;">
  <table>
    <tr><td>下 拉 框：</td><td><select name=""><option value="">请选择</option><option>恭喜发财</option><option>大吉大利</option></select></td></tr>
    <tr><td style="width:84px;">单行文本框：</td><td><input type="text" name="" class="text"></td></tr>
    <tr class="tip"><td></td><td>我是提示信息我是提示信息我是提示信息</td></tr>
    <tr><td>多行文本框：</td><td><textarea name="" class="textarea"></textarea></tr>
    <tr class="tip"><td></td><td>我是提示信息我是提示信息我是提示信息</td></tr>
    <tr><td>单 选 框：</td><td><div class="radio-box"><label><input type="radio" name="a">未选定</label></div><div class="radio-box"><label><input type="radio" name="a" checked>选定</label></div><div class="radio-box"><label><input type="radio" name="" disabled>未选定禁用</label></div><div class="radio-box"><label><input type="radio" name="" checked disabled>选定禁用</label></div></td></tr>
    <tr><td>复 选 框：</td><td><div class="check-box"><label><input type="checkbox" name="">未选定</label></div><div class="check-box"><label><input type="checkbox" name="" checked>选定</label></div><div class="check-box"><label><input type="checkbox" name="" disabled>未选定禁用</label></div><div class="check-box"><label><input type="checkbox" name="" checked disabled>选定禁用</label></div></td></tr>
  </table>
</form>