<!doctype html>
<html lang="zh-cn">
<head>
<meta charset="utf-8">
<meta name="viewport" content="initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
<title>昱杰后台UI框架</title>
<script type="text/javascript" src="../../static/library/jquery/jquery.js"></script>
<script type="text/javascript" src="../../static/yj.admin.ui/js/common.js"></script>
<script type="text/javascript" src="../../static/yj.admin.ui/js/base.js"></script>
<link rel="stylesheet" type="text/css" href="../../static/yj.admin.ui/iconfont/iconfont.css">
<link rel="stylesheet" type="text/css" href="../../static/yj.admin.ui/iconfont/iconfont_extra.css">
<link rel="stylesheet" type="text/css" href="../../static/yj.admin.ui/css/basic.css">
<link rel="stylesheet" type="text/css" href="../../static/admin/css/index.css">
<script type="text/javascript">
let CONFIG = {
  FOLD_MAIN_WIDTH: 'calc(100% - 122px)',
  EXPAND_MAIN_WIDTH: 'calc(100% - 322px)'
};
</script>
</head>

<body class="big">
<div class="left">
  <div class="logo"><a href="../index/index.html"><span class="iconfont icon-logo"></span></a></div>

  <ul class="navigator">
    <li class="active"><a href="../index/index.html"><span class="iconfont icon-index"></span> 首页</a></li>
    <li><a href="../form/index.html"><span class="iconfont icon-form"></span> 表单</a></li>
    <li><a href="../table/index.html"><span class="iconfont icon-table"></span> 表格</a></li>
    <li>
      <a href="javascript:"><span class="iconfont icon-search"></span> 搜索</a>
      <div class="child">
        <ul>
          <li><a href="../search/index.html">简单搜索</a></li>
          <li><a href="../search/advance.html">高级搜索</a></li>
        </ul>
      </div>
    </li>
    <li><a href="../tab/index.html"><span class="iconfont icon-tab"></span> Tab</a></li>
    <li><a href="../tip/index.html"><span class="iconfont icon-tip-info"></span> 提示</a></li>
    <li><a href="../layer/index.html"><span class="iconfont icon-layer"></span> 弹窗</a></li>
    <li>
      <a href="javascript:"><span class="iconfont icon-case"></span> 案例</a>
      <div class="child">
        <ul>
          <li><a href="../user/index.html">用户管理</a></li>
          <li><a href="../product/index.html">商品管理</a></li>
        </ul>
      </div>
    </li>
    <li>
      <a href="javascript:"><span class="iconfont icon-profile"></span> </a>
      <div class="child">
        <ul>
          <li><a href="../profile/index.html">个人资料</a></li>
          <li><a href="../profile/loginRecord.html">登录记录</a></li>
        </ul>
      </div>
    </li>
  </ul>
</div>

<div class="top">
  <h1>昱杰后台UI框架</h1>

  <div class="user">风形火影（创始人） [<a href="../profile/index.html">个人资料</a>] [<a href="../profile/loginRecord.html">登录记录</a>] [<a href="https://item.taobao.com/item.htm?id=531038056831" target="_blank">赞助作者</a>] [<a href="../login/index.html">退出</a>]</div>
</div>

<div class="main">
  <div class="card">
    <h3>系统信息</h3>
    <dl style="width:25%;">
      <dt>版本号</dt>
      <dd>V1.5</dd>
    </dl>
    <dl style="width:25%;">
      <dt>更新时间</dt>
      <dd>2023-12-26</dd>
    </dl>
    <dl style="width:25%;">
      <dt>系统版本</dt>
      <dd>标准版</dd>
    </dl>
    <dl class="last" style="width:25%;">
      <dt>到期时间</dt>
      <dd>永不到期</dd>
    </dl>
    <p class="clear"></p>
  </div>
  <div class="card">
    <h3>个人信息</h3>
    <dl style="width:20%;">
      <dt>身份</dt>
      <dd>创始人</dd>
    </dl>
    <dl style="width:20%;">
      <dt>权限组</dt>
      <dd>创始人</dd>
    </dl>
    <dl style="width:20%;">
      <dt>登录次数</dt>
      <dd>1</dd>
    </dl>
    <dl style="width:20%;">
      <dt>上次登录时间</dt>
      <dd>首次登录</dd>
    </dl>
    <dl class="last" style="width:20%;">
      <dt>上次登录IP</dt>
      <dd>首次登录</dd>
    </dl>
    <p class="clear"></p>
  </div>
  <div class="card">
    <h3>数据</h3>
    <dl style="width:33.33%;">
      <dt>今日网站PV</dt>
      <dd>0</dd>
    </dl>
    <dl style="width:33.33%;">
      <dt>文件</dt>
      <dd>0（已缓存 <span class="iconfont icon-question" title="此数据为缓存数据，只在每天第一次登录后台时做更新"></span>）</dd>
    </dl>
    <dl class="last" style="width:33.33%;">
      <dt>图片</dt>
      <dd>0（已缓存 <span class="iconfont icon-question" title="此数据为缓存数据，只在每天第一次登录后台时做更新"></span>）</dd>
    </dl>
    <p class="clear"></p>
  </div>
  <div class="card">
    <h3>管理员</h3>
    <dl style="width:20%;">
      <dt>总数</dt>
      <dd>1</dd>
    </dl>
    <dl style="width:20%;">
      <dt>创始人</dt>
      <dd>1</dd>
    </dl>
    <dl style="width:20%;">
      <dt>超级管理员</dt>
      <dd>0</dd>
    </dl>
    <dl style="width:20%;">
      <dt>普通管理员</dt>
      <dd>0</dd>
    </dl>
    <dl class="last" style="width:20%;">
      <dt>待激活</dt>
      <dd>0</dd>
    </dl>
    <p class="clear"></p>
  </div>
</div>

<div class="right">
  <h3>软件动态 <span class="iconfont icon-fold"></span></h3>
  <ul>
    <li><a href="">恭喜发财</a></li>
    <li><a href="">大吉大利</a></li>
    <li><a href="">平安喜乐</a></li>
  </ul>

  <h3>帮助文档</h3>
  <ul>
    <li><a href="">恭喜发财</a></li>
    <li><a href="">大吉大利</a></li>
    <li><a href="">平安喜乐</a></li>
  </ul>

  <h3>更新日志</h3>
  <ul>
    <li><a href="">3.0更新日志</a></li>
    <li><a href="">2.0更新日志</a></li>
    <li><a href="">1.0更新日志</a></li>
  </ul>

  <span class="iconfont icon-expand color"></span>
</div>

<!-- 统计代码，可自行删除 -->
<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "https://hm.baidu.com/hm.js?20251d48ece63163142ffc452f2d4804";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>
</body>
</html>