@charset "utf-8";
/*
@Name：《昱杰后台UI框架》
@Author：风形火影
@Site：https://www.yjrj.top
*/
.form table:nth-child(1) tr td:nth-child(1) {
	width: 84px;
}
.form table:nth-child(3) tr td:nth-child(1) {
	text-align: left;
}

.CodeMirror, .CodeMirror-scroll {
	height: 350px;
	max-height: 350px;
}